/* * {
  link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap" rel="stylesheet"
  font-family: 'Noto Sans JP, sans-serif';

} */
.product__name {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.625rem;
  color: #373738;
}
.product__description {
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.125rem;
  color: #909090;
}
.product__rating {
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #333333;
}
.product__ratings {
  font-style: normal;
  font-weight: 100;
  font-size: 1rem;
  line-height: 0.75rem;
  color: #333333;
}
.search-bar {
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #555555;
}
.category {
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #000000;
}
.category__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.3125rem;
  color: #333333;
}
.refer__and--earn {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #ffffff;
}
.myglam__store {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: #000000;
}
.myglam__store--city {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.125rem;
  color: #909090;
}

/* //__________________________________signup page */

.signup__topline {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #333333;
}
.mobile__no {
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.0625rem;
  color: #000000;
}
.continue {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #ffffff;
}
/* background-color-one:#FEE8E8
background-color-TWO:#F5F5F6
background-color-three:#FFFFFF */

.mybag {
  font-style: normal;
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2.0625rem;
  color: #333333;
}
.product__name--inMybag {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.0625rem;
  color: #333333;
}
.product__quantity--inMybag {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375rem;
  color: #333333;
}
.product__name--inMybag {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.0625rem;
  color: #333333;
}
.proceed__to--checkout {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #ffffff;
}
.shipping__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.125rem;
  color: #333333;
}
.shipping__details {
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.4375rem;
  color: #555555;
}
.continue__back {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #333333;
}
/* _________________________________CHECKOUT PAGE_________________________________ */
.checkout {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2rem;
  color: #333333;
}

.shipping__internationally {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  color: #000000;
}
.shipping__address {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.125rem;
  color: #333333;
}
.shipping__name {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.125rem;
  color: #333333;
}
.shipping__address--details {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #333333;
}
.change__button {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #ffffff;
  background-color: #000000;
}
.billing__address {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.125rem;
  color: #333333;
}
.order__summary {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.9375rem;
  color: #333333;
}
.below__order--summary {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1rem;
  color: #292929;
}
.apply__promocode {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.9375rem;
  color: #333333;
}
.apply__button {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #ffffff;
  background-color: #000000;
}
.promocode {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4375rem;
  color: #333333;
}
.redeem__myglam--points {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  color: #292929;
}
.amount__payable {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
  color: #292929;
}
.amount__payable--inNumber {
  font-weight: 600;
  font-size: 1.1875rem;
  line-height: 1.6875rem;
  color: #000000;
}
.amount__payable--below {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1rem;
  color: #292929;
}
.proceed__payment {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #ffffff;
  background-color: #000000;
}
/* _________________________________PAYMENT PAGE___________________ */

.payment {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2rem;
  color: #333333;
}
.amount__payable {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.1875;
  color: #000000;
}
.cardholder__name--validityCvv {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000000;
}
.card__details {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.1375;
  color: #555555;
}
.payment__method {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #333333;
}
.payment__method--types {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #000000;
}

/* _____________________________LOGO'S OF MYGLAMM__________________________________ */

.m {
  src: "https://cdn.yellowmessenger.com/xEiulUijEbNF1622637959504.png";
  width: 150;
  height: 150;
}
.x {
  src: "https://static.photoslurp.com/widget/v3/images/modern/close-black.svg";
  width: 0;
  height: 0;
}
/* . > {
  src: "https://static.photoslurp.com/widget/v3/images/modern/next-black.svg";
  width: 16;
  height: 32;
} */
.plus {
  src: "https://static.photoslurp.com/widget/v3/images/modern/plus.svg";

  width: 24;
  height: 24;
}
/* < {
  src: "https://static.photoslurp.com/widget/v3/images/modern/prev-black.svg";
  width: 0;
  height: 0;
} */

.instagram-in-black {
  src: "https://static.photoslurp.com/widget/v3/images/providers/instagram-black-three.svg";
  width: 18;
  height: 18;
}
.loader {
  src: "https://www.myglamm.com/images/loader.svg";
  width: 200;
  height: 200;
  alt: loader;
}
.iosStore {
  src: "https://www.myglamm.com/images/iosStore.png";
  width: 238;
  height: 80;
  alt: iosStore;
}
.profile {
  src: "https://www.myglamm.com/images/no_user_yellow.png";
  width: 10;
  height: 10;
  alt: user;
}
.playstore {
  src: "https://www.myglamm.com/images/playStore.png";
  width: 270;
  height: 80;
  alt: playStore;
}

.search {
  src: "https://www.myglamm.com/images/search.svg";
  width: 18;
  height: 18;
  alt: search;
}
.arrowLeft {
  src: "https://www.myglamm.com/images/slickArrowLeft.svg";
  width: 100;
  height: 100;
  alt: arrowLeft;
}
.arrowRight {
  src: "https://www.myglamm.com/images/slickArrowRight.svg";
  width: 100;
  height: 100;
  alt: arrowRight;
}
/* .star{
  <i class="ico-star icon-star"></i>
} */

/* .m__black--logo{
  <i class="icon icon-mlogo"></i>
} */

/* .phone{
  <i class="icon icon-ios-telephone"></i>
} */

/* mail{
  <i class="icon icon-letter-mail"></i>
} */

/* .bag{
<i class="ico icon-bag" style="float: left; font-size: 23px; line-height: 1.8;"></i>
} */

/* CREDIT/DEBIT CARD    <i class="ico icon-credit-card"></i> */

/* UPI <img src="https://files.myglamm.com/images/static/upi.png"> */

/* WALLETS/CASH ON DELIVERY<i class="ico icon-cash"></i> */
