/* variables */

:root {
    --font-small: 0.875rem;  /* 14px */
    --font-mid: 1rem; /* 16px */


    /* Colour */

    --bg-color-one: #f4f4f4;
    --bg-color-two: #fbe7e7;
    --bg-color-three: #FFFFFF;

}



/* utilities */
.flex {
    display: flex;
}




/* color : #jknvkf */