/* variables */

:root {
    --font-large: 
    --font-small: 0.875rem;  /* 14px */
    --font-mid: 1rem; /* 16px */


    /* Colour */

    --bg-color-main: #F5F5F6;
    --bg-color-ad: #ecd3d3;
    --bg-color-white: #FFFFFF;
    --bg-color-headings: #f39596;
}
* {
    color: #FEE8E8, #F5F5F6;
}


/* utilities */
.flex {
    display: flex;
}




/* color : #jknvkf */